/* 最大容器 */
.div_box{
    width: 100%;
    margin-bottom: auto;
}
.div_box header .left{
    width: 700px;
}
.div_box header .right{
    width: 290px;
    margin-left: 10px;
}
.div_box header .left img{
    width: 700px;
    height: 350px;
}
.div_box header .right img{
    float: right;
    width: 290px;
    height: 170px;
}
#tp2{
    margin-top: 10px;
}

header{
    float: left;
}

.div_n1{
    float: left;
    margin-top: 10px;
    background-color: #fff;
    width: 100%;
}
.bt{
    height: 30px;
    border-bottom: 1px solid #1772b4;
}
.bt h3{
    line-height: 30px;
    font-size: 18px;
    color: #1772b4;
    margin-left: 10px;
}
.nr p{
    padding: 10px;
    
}