.nav_max{
    width: 100%;
    height: 48px;
    background-color: #ffc400;
    margin-bottom: 10px;
}
.nav_max .center>a{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.nav_max .center img{
    width: 35px;
    height: 35px;
}
h1{
    font-size: 20px;
    line-height: 28px;
}
.nav_max .center p{
    font-size: 12px;
}
.nav_dh{
    float: right;
}
.nav_dh li{
    float: left;
    display: inline-block;
    line-height: 48px;
}
.nav_dh a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    margin-right: 50px;
}
.nav_hover a{
    width: 80px;
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-color: #ffc400;
}
.nav_hover a:hover{
    border-color: #fff;
}
header{
    width: 100%;
}
.nav_zc{
    line-height: 48px;
}
.nav_zc a{
    width: 50px;
    line-height: 28px;
    margin-right: 10px;
    border-radius: 20%;
    background-color: #ffc400;
    border-style: solid;
    border-color: #fff;
    text-align: center;
}
#zc2{
    background-color: #fff;
    color: #ffc400;
}